* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: #87ceeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#locationInput {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

#search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-btn:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
}

#location {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#temperature {
  font-size: 20px;
  margin-bottom: 10px;
}

#description {
  font-size: 16px;
  color: #666;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  #location-input {
    font-size: 14px;
    padding: 8px;
  }

  #search-btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  #location {
    font-size: 20px;
  }

  #temperature {
    font-size: 18px;
  }

  #description {
    font-size: 14px;
  }
}
